h1, h2 {
    text-align: center;
}

/* Making the buttons orange with black borders and white text */
button {
    border: 2px solid black;
    color: white;
    background-color: orange;

}

/* Quick style for a text box for high score */
input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
}

ul {
    padding: 0px; /* overrides the default ul padding so the list displays center */
}
li {
    background-color: orange;
    margin-top: 10px;
    padding: 10px;
    color: white;
    list-style: none; /* no style markings for the list, just using <li> as organizing element */
}

/* Main content box */
.container {
    margin: 30px;
    padding: 5px;
    top: 10%;
    width: 100%;
    height: auto;
    border: 3px solid black;

/* These ids point to the things we're manipulating with JS */    
}
#questions, #scoreslist {
    margin: auto;
    text-align: center;
}

/* Chimes in with the answer below the current question */

#selectionDiv {
    border-top: 2px solid red;
    margin-top: 20px;
    font-size: 16px;
    color: grey;
}


/* Button that puts the user initials and score in localstorage onclick */
#submit {
    background-color: orange;
    margin-top: 20px;
    padding: 15px 15px;
    font-size: 20px;
    color: white;
}


/* Buttons on the score page */
#clearscores, #reload {
    margin-top: 30px;
    background-color: lightcoral;
}

